@model IEnumerable<Hospital_Management_System.Models.AppointmentLog>

@{
    ViewBag.Title = "AppointmentLog";
}

<head>


    <title>Siopp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/Content/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
@using (Html.BeginForm("search", "Account", FormMethod.Get))
{
    @Html.TextBox("searching")
    
    <br>
    <input type="submit" value="Search With Status" />


}
<br>
<br>
<br>

<h2>Appointment Log</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>

        </tr>
    }

</table>
